<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
<title>pastemplate</title>
<meta name="generator" content="PasDoc 0.14.0">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="StyleSheet" type="text/css" href="pasdoc.css">
</head>
<body>
<table class="container"><tr><td class="navigation">
<p><a href="AllUnits.html" class="navigation">Units</a></p><p><a href="ClassHierarchy.html" class="navigation">Class Hierarchy</a></p><p><a href="AllClasses.html" class="navigation">Classes, Interfaces, Objects and Records</a></p><p><a href="AllTypes.html" class="navigation">Types</a></p><p><a href="AllVariables.html" class="navigation">Variables</a></p><p><a href="AllConstants.html" class="navigation">Constants</a></p><p><a href="AllFunctions.html" class="navigation">Functions and Procedures</a></p><p><a href="AllIdentifiers.html" class="navigation">Identifiers</a></p></td><td class="content">
<h1 class="unit">Unit pastemplate</h1>
<table class="sections wide_list">
<tr>
<td><a class="section" href="#PasDoc-Description">Description</a></td><td>Uses</td><td>Classes, Interfaces, Objects and Records</td><td><a class="section" href="#PasDoc-FuncsProcs">Functions and Procedures</a></td><td><a class="section" href="#PasDoc-Types">Types</a></td><td>Constants</td><td>Variables</td></tr></table>
<a name="PasDoc-Description"></a><h2 class="description">Description</h2>
<p>
Simple pascal template</p>
<a name="PasDoc-Uses"></a><h2 class="overview">Overview</h2>
<a name="PasDoc-FuncsProcs"></a><h3 class="summary">Functions and Procedures</h3>
<table class="summary wide_list">
<tr class="list">
<td class="itemcode"><code>function <b><a  href="pastemplate.html#convertTemplate">convertTemplate</a></b>(s: string; special: <a  href="pastemplate.html#TSpecialCallBack">TSpecialCallBack</a>): string;</code></td>
</tr>
</table>
<a name="PasDoc-Types"></a><h3 class="summary">Types</h3>
<table class="summary wide_list">
<tr class="list">
<td class="itemcode"><code><b><a  href="pastemplate.html#TSpecialCallBack">TSpecialCallBack</a></b> = function (name: string): string;</code></td>
</tr>
</table>
<h2 class="description">Description</h2>
<h3 class="detail">Functions and Procedures</h3>
<table class="detail wide_list">
<tr class="list">
<td class="itemcode"><a name="convertTemplate"></a><code>function <b>convertTemplate</b>(s: string; special: <a  href="pastemplate.html#TSpecialCallBack">TSpecialCallBack</a>): string;</code></td>
</tr>
<tr><td colspan="1">
<p>
Parses a simple pascal template.<br><br><br> It may contain the following commands:<br> <code>{%REPEAT x, [a, b, c, ..]} .. {%END-REPEAT}</code> <br> Creates several copy of the text between REPEAT and END-REPEAT while replacing x by a in the first copy, x by b in the second, ...<br><br> <code>{%REPEAT (x, y), [(a1, a2), (b1, b2), ...]} .. {%END-REPEAT}</code> <br> Creates several copy of the text between REPEAT and END-REPEAT while replacing x by a1 and y by a2 in the first copy, x by b1 and y by b2 in the second, ...<br><br> <code>{%REPEAT} .. {%END-REPEAT}</code> <br> Removes the text between REPEAT and END-REPEAT (i.e. make exactly zero copies)<br><br> <code>{%COMPARE x =/&lt;&gt; y} .. {%END-COMPARE}</code> <br> Only inserts the text if x=y or x&lt;&gt;y. Its just comparing the trimmed text <br><br> <code>{%SPECIAL:foobar}</code> <br> Calls an external callback function with the value foobar<br><br> }</p>
</td></tr>
</table>
<h3 class="detail">Types</h3>
<table class="detail wide_list">
<tr class="list">
<td class="itemcode"><a name="TSpecialCallBack"></a><code><b>TSpecialCallBack</b> = function (name: string): string;</code></td>
</tr>
<tr><td colspan="1">
&nbsp;</td></tr>
</table>
<hr noshade size="1"><span class="appinfo"><em>Generated by <a  href="http://pasdoc.sourceforge.net/">PasDoc 0.14.0</a>. </em>
</span>
</td></tr></table></body></html>
